/* CSS Document */

/*  
 jq(".rowwrap").addClass("show");
        } else {
            jq(".rowwrap").removeClass("show");
        }
*/

/*
.rowwrap{height:48px; line-height:48px; width:100%; opacity:0;  background-color:#2a2a2a;position:fixed;top:0px; z-index:2000;transition: opacity 0.3s ease-out 0s;-moz-box-shadow:0px -2px 14px #fff ;-webkit-box-shadow:0px -4px 14px #fff ;box-shadow:0px -4px 14px #fff ; }
.rowwrap.show {top: 0px; opacity:1; }
*/	
  body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, form, th, td {
        margin: 0px;
        padding: 0px;
	
    }	
	        html, body { height:100%; }

		.h100{ height:100%;}
	.navbar{  border:none;}	
.navbar a{ color:#fff;}

 .navbar-default{background: none;

}

.navbar .large {opacity:0.85; height:50px;}
 .navbar-blue { position:absolute; z-index:-1;
background:#1685d0;opacity:0; width:100%; height:70px;transition: all 0.3s ease-out 0s; }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #fff;


}
.navblue-on{background-color:#1685d0;opacity:0.8}
navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #fff;
font-weight:bold;
background: none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
color: #fff;
background:none;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
color: #fff;
background-color: transparent;
}
.navbar-nav>li>.dropdown-menu { background:none;box-shadow:none;border:0; margin-top:-5px;}
.navbar-nav>li>.large li{background-color:#1685d0;opacity:0.8;box-shadow:none;border:0;}


.navbar-default .navbar-nav .open .dropdown-menu>li>a {
color: #fff;
background-color: transparent;
}
.navbar-default .navbar-nav>li>a {color: #fff;
 font-size:14px;font-weight:bold; font: "microsoft yahei"; border:0;

}
.navbar-default .navbar-nav>li>a:hover{ color:#e5e5e5}
.navbar-default .navbar-nav>li.active>a{  background:none;}
 a.navbar-brand{ padding:0 20px; line-height:30px; border:0;}
 .lawer{ position:absolute; }

.tit-name{ text-align:left; height:28px; line-height:28px; color:#666; font-size:16px;font-weight:bold; font: "microsoft yahei";}
/*ÊÖ·çÇÙ*/

    a {
        text-decoration: none;
    }
    .import-sub-title .hd .guan {
        float: left;
        font: 400 18px/50px "microsoft yahei";
        color: #333;
    }
    .import-sub-title .hd .guan span {
        margin-left: 4px;
        font: 400 14px/50px TAHOMA;
        color: #999;
    }
    .import-sub-title{
        margin: 12px auto 0;
        width: 1190px;
    }
    .import-sub-title .hd {
        height: 50px;
        line-height: 50px;
        border-bottom: 3px solid #536BB2;
    }
    .import-sub-title .hd a.more {
        float: right;
        font: 400 12px/50px "microsoft yahei";
        color: #415183;
        vertical-align: middle;
    }
    .import-sub-title .hd a.more i {
        display: inline-block;
        margin-left: 4px;
        width: 19px;
        height: 19px;
        background: transparent url("../images/icobg.png") no-repeat scroll 0px -120px;
        vertical-align: middle;
    }
	.import-collection a{ text-decoration:none;}
    .import-collection {
        width: 1170px;
        margin: auto;
		overflow:hidden;
    }
    .import-collection div.bd {
        position: relative;
        width: 1190px;
        height: 430px;
        overflow: hidden;
    }
    .import-collection div.bd li {
    position:relative;
	float:left;
        width: 237px;
		display:block;
		overflow:hidden; 
    }
	.import-collection div.bd li.current{  width:715px;}
    .import-collection div.bd li.t a.left {
        position: relative;
        float: left;
        width: 237px;
        height: 430px;
    }
    a {
        text-decoration: none;
    }
  
    .import-collection div.bd li.t a.left div.map {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 110px;
        z-index: 29;
        background-color: #4E65A9;
    }
    .import-collection img.background {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
    }
    img {
    }
    fieldset, img {
        border: medium none;
    }
    .import-collection img.background {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
    }
    .import-collection div.bd li.t .right {
		position:absolute;
		left:237px;
        float: left;
        border-top: 1px solid #E9E9E9;
        border-bottom: 1px solid #E9E9E9;
        padding: 64px 39px 0px;
        width: 475px;
        height: 455px;
        background-color: #F4F4F4;
    }
    .import-collection div.bd li.t div.right div.top div.icon {
        float: left;
        padding-top: 32px;
        width: 100px;
        height: 74px;
        background: transparent url("../images/icobg.png") no-repeat scroll 0px 0px;
    }
    .import-collection div.bd li.t div.right div.top div.icon .ch {
        height: 22px;
        font: 400 18px/22px "Microsoft Yahei";
        color: #FB5016;
    }
    .import-collection div.bd li.t div.right div.top div.icon div{
        width: 100%;
        text-align: center;
    }
    .import-collection div.bd li.t div.right div.top div.icon .en {
        height: 16px;
        font: 400 12px/16px Tahoma;
        color: #333;
    }
    .import-collection div.bd li.t div.right div.top div.paragraph {
        float: left;
        margin-left: 17px;
        width: 280px;
        font: 400 12px/24px "Microsoft Yahei";
    }
    .import-collection div.bd li.t div.right div.top div.paragraph p.text {
        margin-bottom: 14px;
        color: #333;
    }
    .import-collection div.bd li.t div.right div.top div.paragraph {
        font: 400 12px/24px "Microsoft Yahei";
    }
    .import-collection div.bd li.t div.right div.top div.paragraph div.keys p {
        float: left;
        margin-right: 5px;
    }
    .import-collection div.bd li.t div.right div.top div.paragraph div.keys ul {
        float: left;
    }
    ul, ol {
        list-style: outside none none;
    }
    .import-collection div.bd li.t div.right div.top div.paragraph div.keys ul li:first-child {
        margin-left: 0px;
    }
    .import-collection div.bd li.t div.right div.top div.paragraph div.keys ul li {
        float: left;
        margin-left: -8px;
        padding-left: 10px;
		width:auto;
		overflow:hidden;
        background: transparent url("../images/icobg.png") no-repeat scroll 0px -179px;
    }
    .import-collection div.bd li.t div.right div.top div.paragraph div.keys ul li a span {
		height: 20px;
        text-align: center;
        font: 400 12px/22px "Microsoft Yahei";
        background: #FB5016;
	display:inline-block;
    }
    .import-collection div.bd li.t div.right ul.bottom {
        float: left;
        margin-top: 50px;
        margin-right: -20px;
    }
    .import-collection div.bd li.t div.right div.top div.paragraph div.keys ul li a {
        padding-right: 10px;
        color: #FFF;
        display: block;
        background-color: #000;
        background: url("../images/icobg.png") no-repeat scroll right -149px;
    }
    .import-collection div.bd li.t div.right ul.bottom li {
        float: left;
        margin-right: 20px;
        width: 170px;
    }
	.import-collection div.bd li.t div.right ul.bottom li a{ text-decoration:none;}
    .import-collection div.bd li.t div.right ul.bottom li div.pic-box {
        position: relative;
        width: 100%;
        height: 170px;
        overflow: hidden;
    }
    .import-collection div.bd li.t div.right ul.bottom li div.pic-box:hover div.pic-hover {
        top: 0
    }
    .import-collection div.bd li.t div.right ul.bottom li div.pic-box div.pic-hover {
        position: absolute;
        left: 0px;
        top: 100%;
        padding: 18px 12px;
        width: 120px;
        height: 174px;
        opacity: 0.95;
        background-color: #FFF;
        transition: top 0.3s ease 0s;
    }
    .import-collection div.bd li.t div.right ul.bottom li div.pic-box div.pic-hover p.title {
        font: 400 12px/14px "Microsoft Yahei";
        text-align: left;
    }
    .import-collection div.bd li.t div.right ul.bottom li div.pic-box div.pic-hover p.price {
    text-align:center; 
    }
    .import-collection div.bd li.t div.right ul.bottom li div.pic-box div.pic-hover p.icon {
        margin: 10px 0px 0px 30px;
        width: 40px;
        height: 40px;
        background: transparent url("../images/ctbg.png") no-repeat scroll 0px -50px;
    }
    .import-collection div.bd li.t div.right ul.bottom li p {
        font: 400 12px/32px "Microsoft Yahei";
        height: 32px;
        color: #666;
        text-align: center;
    }
    .import-collection div.bd li.t div.right ul.bottom li div.pic-box div.pic-hover p.price span.fd-cny {
         margin-right: 2px;
         font-family: "Microsoft Yahei",sans-serif;
     }
    .import-collection div.bd li.t div.right ul.bottom li div.pic-box div.pic-hover p.price span {
        font: 400 18px/38px Tahoma;
        color: #FB5016;
    }
    .import-collection div.bd li.t div.right ul.bottom li {
        float: left;
        margin-right: 10px;
        width: 120px;
    }
	  .import-collection div.bd li.t .triangle {
        position: absolute;
        z-index: 19;
        left: 0px;
        bottom: -50px;
        width: 100%;
        height: 216px;
        transform: skewY(23.5deg);
		-moz-transform: skewY(23.5deg);
        -webkit-transform: skewY(23.5deg);
		-o-transform: skewY(23.5deg);
		animation:mysecond 0.3s ease;
		-moz-animation:mysecond 0.3s ease;
     	-webkit-animation:mysecond 0.3s ease;
		-o-animation:mysecond 0.3s ease;
        background-color: #4E65A9;
        overflow: hidden;
    }
	  .import-collection div.bd li.t:hover .triangle {
        position: absolute;
        z-index: 19;
        left: 0px;
        bottom: -50px;
        width: 100%;
        height: 216px;
		animation:myfirst 0.3s ease;
		-moz-animation:myfirst 0.3s ease;
		-webkit-animation:myfirst 0.3s ease;
		-o-animation:myfirst 0.3s ease;
        overflow: hidden;
    }
	
	.import-collection div.bd li.t.current .triangle {
	    position: absolute;
        z-index: 19;
        left: 0px;
        bottom: -50px;
        width: 100%;
        height: 216px;
  animation:myfirst 0.3s ease;
		-webkit-animation:myfirst 0.3s ease;
		-moz-animation:myfirst 0.3s ease;
        overflow: hidden;
	transform: skewY(-23.5deg);
	-moz-transform:skewY(-23.5deg);
	-webkit-transform:skewY(-23.5deg);
	-o-transform:skewY(-23.5deg);
	background-color: #fb5016!important
}
.import-collection div.bd li.t.current .map {
	background-color: #fb5016!important
}
@keyframes myfirst{ from{transform:skewY(23.5deg);}
to{-webkit-transform:skewY(-23.5deg);}
}
@-moz-keyframes myfirst{ from{-moz-transform:skewY(23.5deg);}
to{-webkit-transform:skewY(-23.5deg);}
}
@-webkit-keyframes myfirst{ from{-webkit-transform:skewY(23.5deg);}
to{-webkit-transform:skewY(-23.5deg);}
}
@-o-keyframes myfirst{ from{-o-transform:skewY(23.5deg);}
to{-webkit-transform:skewY(-23.5deg);}
}
@keyframes mysecond{ from{transform:skewY(-23.5deg);}
to{-webkit-transform:skewY(23.5deg);}
}
@-moz-keyframes mysecond{ from{-moz-transform:skewY(-23.5deg);}
to{-webkit-transform:skewY(23.5deg);}
}
@-webkit-keyframes mysecond{ from{-webkit-transform:skewY(-23.5deg);}
to{-webkit-transform:skewY(23.5deg);}
}
@-o-keyframes mysecond{ from{-o-transform:skewY(-23.5deg);}
to{-webkit-transform:skewY(23.5deg);}
}
@media (min-width:1200px){.container{width:1190px}}
.product .container {
padding-right: 10px;
padding-left: 10px;
margin-right: auto;
margin-left: auto;
}
.product .col-md-12,.product .col-xs-6,.product .col-sm-4,.product .col-md-3,.product .col-md-2{ padding:0; margin:0;}
.product img{ width:100%}
.footer{ width:100%; height:72px; line-height:40px;  margin-top:20px; background-color:#1685d0}
.v-wrap{width:100%; height:38px; line-height:38px;}
.footer .logo{ opacity:0.8}
.footer:hover .logo{ opacity:1}
.footer-wrap{ width:1170px; margin:0 auto;}
.footer ul li{ float:left; vertical-align:middle; padding:0 15px;}
.footer-wrap p{ color:#fff; text-align:right; line-height:70px;}
.zawrap{width:100%;height:100%;}
.v-wrap p{ color:#333; text-align:center;}

/*media*/
.nav-tabs li a:hover,.nav-tabs li a:focus{border-radius:0; border:0; background:#fff;}
.navbar-wrapper .nav{ margin:0 auto; background:#FFF; padding-bottom:4px; }
.navbar-wrapper li a{ color:#1585cf;border-top:none;border-left:none;border-right:none; font-family:"microsoft yahei";cursor:pointer;}

.nav-tabs>li a{margin-bottom:0px; }
.nav-tabs>li a:hover{ border:0; }

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover {
color: #1585cf;
cursor:pointer;
margin-bottom: 0px;
background-color: #fff;
border-bottom:2px solid #1585cf;
font-weight:bold;

border-top:none;border-left:none;border-right:none;

}


.navbar-wrapper .nav>li>a{position:relative;padding:6px 12px;display: table-cell;}
.navbar-wrapper{ padding:0; margin:0 auto; width:100%;z-index:100; overflow:hidden; background:#fff;	display: table;
}
.navbar-wrapper .nav-tabs { border:0; height:40px; overflow:hidden; display:table-row-group;display: table;
}
.navbar-wrapper .nav-tabs li a{  text-align: center;	display: table-cell;}
/**max width 980px**/
@media screen and (max-width:1200px) {
 .modal-content {
 width:980px;
 }
}
.modal.fade .modal-dialog{}
.modal-header-on {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.close-on {
	margin-top:-10px;
  float: right;
  font-size: 38px;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=80);
  opacity: .8;
   width:50px; height:50px;
   background:#fff;
   text-align:center; line-height:50px;
   position:fixed; right:0; cursor:pointer; z-index:1000;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
    -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.grid li img{ width:100%; max-width:100%}